  <ion-card *ngFor="let i of [1,1,1,1,1,1,1,1]">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://cdn-icons-png.flaticon.com/512/5278/5278658.png">
      </ion-avatar>
      <ion-label>
        <h3>App Server - Harpia</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Atualize seu módulo Financeiro com a nova expdição contínua de 06/10. Tem novidade no Contas a Pagar e na utilização do CNAB via API!
    </ion-card-content>
  </ion-card>

